
---

---

<footer>
  <div class="proj-ref">Made by <strong>Edson</strong></div>
  <a class="git-hub-ref" href="https://github.com/edinho02/astro-todo-list">GitHub Project</div>
</footer>

<style is:global>
	footer {
    display: flex;
    padding: 10px;
    font-size: 14px;
    background-color: rgb(46, 46, 46);
  }

  footer > div {
    color: rgb(255, 255, 255);
  }

  footer > div > strong {
    color: rgb(55, 120, 241);
  }

  footer > a {
    margin-left: auto;
    padding-right: 5px;
    color: rgb(55, 120, 241);
  }
</style>