---
import Head from '../components/core/Head.astro';
import Footer from '../components/core/Footer.astro';
---

<!DOCTYPE html>
<html lang="en" class="bg-zinc-900">
	<Head />

	<body>
    <main>
      <div class="body-content">
        <slot />
      </div>
      
      <Footer />
    </main>
	</body>
</html>

<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
    height: 100%;
	}
  body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

	.body-content {
		margin: auto;
		padding: 1.5rem;
    flex-grow: 1;
		max-width: 60ch;
	}
  
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
</style>
